<nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgb(93 58 225 / 80%) !important;;">
  <div class="container">
    <a class="navbar-brand text-white" href="#">Slice & Dice</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample"
      aria-controls="offcanvasExample">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="offcanvas offcanvas-start-lg " style="background-color: rgb(93 58 225 / 80%) !important;;" tabindex="-1"
      id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
      <div class="offcanvas-header d-flex d-lg-none" style="justify-content: space-between;
    align-items: center;">
        <h5 class="offcanvas-title text-white" id="offcanvasExampleLabel">Slice & Dice</h5>
        <a href="javascript:void(0) " class="text-reset p-0" data-bs-dismiss="offcanvas" aria-label="close">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#FFFFFF" class="bi bi-x-circle"
            viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
            <path
              d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
          </svg>
        </a>
      </div>
      <div class="offcanvas-body p-lg-0">
        <ul class="navbar-nav d-flex justify-content-between w-100">
          <li class="nav-item nav-item-hover" style="display: flex;
            justify-content: center;
            align-items: center;">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item nav-item-hover" style="display: flex;
            justify-content: center;
            align-items: center;">
            <a class="nav-link active" aria-current="page" href="#">About</a>
          </li>
          <li class="nav-item nav-item-hover" style="display: flex;
            justify-content: center;
            align-items: center;">
            <a class="nav-link active" aria-current="page" href="#">Blog</a>
          </li>
          <li class="nav-item nav-item-hover" style="display: flex;
            justify-content: center;
            align-items: center;">
            <a class="nav-link active" aria-current="page" href="#">Contact</a>
          </li>
          <li class="nav-item ms-auto user" ngbDropdown display="dynamic" style="cursor: pointer;">
            <a class="nav-link active user-login" id="dropdownBasic1" ngbDropdownToggle>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1" style="min-width: 500px;">
                <p style="padding: 0px 5px;    font-size: larger;
                text-transform: uppercase;
                font-weight: 700;">

                  Hi {{user?.name}}
                </p>
                <h6 style="text-align: center;margin: 0;">Order Details</h6>
                <hr style="margin: 0; border: 1px solid red;">
                <div class="p-2" style="    background: aliceblue;">
                  <span *ngFor="let item of order">
                    <p style="font-size: larger;
                    background: #348c8f;
                    color: white;
                    padding: 0px 5p">Requested Date and time : {{item.createdAt |date:'medium'}}</p>
                    <div *ngFor="let i of item.pizzaItems" class="mb-1 ">
                      <span style="
                      font-size: large;
                      font-weight: 700;
                      color: blueviolet;">{{i.pizzaId.name}}</span>
                      <div class="d-flex" style="justify-content: space-between; align-items: center;">
                        <img src="{{i.pizzaId.imageUrl}}" alt="" width="50px" height="50px">
                        <span style="font-size: large;">Quantity: {{i.quantity}}</span>
                        <span style="font-size: large;">Price Per Pice: ${{i.pizzaId.price}}</span>
                      </div>

                    </div>
                    <div style="display: flex; justify-content: space-around; align-items: center;display: flex;
                    justify-content: space-around;
                    align-items: center;
                    margin-top: 15px;
                    background: #3765b7e8;
                    font-weight: 900;
                    color: white;">

                      <span style="font-size: large;">Status: {{item.status}}</span>

                      <span style="font-size: large;">Billing Amount: ${{item.totalPrice }}</span>
                    </div>
                    <hr style="margin: 0; border: 1px solid rgb(0, 102, 255);margin-top: 3px;margin-bottom: 3px;">
                  </span>
                </div>
              </div>


              <span>
                {{user?.name}}
              </span>
              <img src="pizza/img-holder.png" alt="" width="30px" height="30px">

            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>


<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- <img src="pizza/p-1.jpg" alt=""> -->
<router-outlet />